{% extends 'student-base.html' %}
{% block content %}
<div class = card style = "width: 1475px; height: 700px;">
    <img src = "{{ url_for('static', filename = 'images/' + opportunity.image) }}">
    <div class = "card-body">
        <div>
            <h2 style = "font-size: 70px;"> {{ opportunity.name }} </h2>
            <h4 style = "font-size: 40px;"> Lead-by - {{ opportunity.professor_name }}</h4>
            <ul style = "list-style-type: none; padding: 0; font-size: 30px;">
                {% for requirement in opportunity.requirements.split(':') %}
                    <li> {{ requirement }} </li>
                {% endfor %}
            </ul>
            <h4 style = "font-size: 30px;"> Location: - {{ opportunity.location }} </h4>
            <div class = "card-buttons">
                <a href = "/application-form/{{ opportunity.id }}" class = "btn-learn">Apply</a>
            </div>
            <div>
                <p style = "font-size: 25px;">{{ opportunity.description }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}