{% extends 'professor-base.html' %}
{%block content%}
<div class = "title">
    <h1>Welcome to Research Buddy</h1>
</div>

<a href = "/publish-opportunity" class = "button" style = "padding: 20px; font-size: 20px; width: 150px;">Publish</a>

<a href = "/view-opportunities-professor" class = "button" style = "padding: 20px; font-size: 20px; width: 150px;">Opportunities</a>

<a href = "/view-applications-professor" class = "button" style = "padding: 20px; font-size: 20px; width: 150px;">Review Applications</a>

{%endblock%}